<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Cloudburst</title>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="stylesheet" href="css/isotope.css" />
    <link rel="stylesheet" href="css/style.css" />
</head>



<body>
    <ul id="filters" class="clearfix">
        <!--<li><a href="javascript:external.trendingmovies()" data-filter=".trending-movies" class="current">Trending movies</a><li>-->
        <li><a href="#" onclick="trendingmovies([{'name':'ted','type':'movie'},{'name':'the-hunger-games','type':'movie'},{'name':'world-war-z','type':'serie'},{'name':'the-hunger-games-mockingjay-part-1','type':'movie'}]);" data-filter=".trending-movies" class="current">Trending movies</a><li>
        <li><a href="#" data-filter=".trending-series">Trending series</a></li>
        <li><input type="text" placeholder="Search" name="search" /></li>
    </ul>

    <div style="clear: both"></div>
    <div id="movie-overview" class="movie-overview clearfix">

        <!--<div class="cover trending-movies" data-symbol="ted">
            <img src="../images/covers/ted.jpg" alt="ted" width="138" height="203" />
        </div>

        <div class="cover trending-series" data-symbol="the-hunger-games">
            <img src="../images/covers/the-hunger-games.jpg" alt="the-hunger-games" width="138" height="203" />
        </div>

        <div class="cover trending-movies" data-symbol="the-hunger-games-mockingjay-part-1">
            <img src="../images/covers/the-hunger-games-mockingjay-part-1.jpg" alt="the-hunger-games-mockingjay-part-1" width="138" height="203" />
        </div>

        <div class="cover trending-movies" data-symbol="underworld-awakening">
            <img src="../images/covers/underworld-awakening.jpg" alt="underworld-awakening" width="138" height="203" />
        </div>

        <div class="cover trending-movies" data-symbol="world-war-z">
            <img src="../images/covers/world-war-z.jpg" alt="world-war-z" width="138" height="203" />
        </div>-->
    </div>

    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>
    <script type="text/javascript" src="js/json2html.js"></script>
	<script type="text/javascript" src="js/jquery.json2html.js"></script>
    <script type="text/javascript">

        // For Ajax testing
        var json = [{
            "width": "200",
            "height": "300",
            "image": "http://images2.wookmark.com/266707_tumblr_moaebdyiek1sqmj1zo1_500.jpg"
        }, {
            "width": "200",
            "height": "200",
            "image": "http://images2.wookmark.com/267766_tumblr_mocaf2myso1r46py4o1_1280.jpg"
        }, {
            "width": "200",
            "height": "300",
            "image": "http://images2.wookmark.com/266821_tumblr_mn3a90g2pu1rbaqo5o1_500.jpg"
        }, {
            "width": "200",
            "height": "300",
            "image": "http://images3.wookmark.com/266762_tumblr_mnu25rktj61ro1zebo1_500.jpg"
        }];

        var APIURL = "http://www.wookmark.com/api/json?type=search&term=small";
        var small_img = "http://www.appelsiini.net/projects/lazyload/img/grey.gif";


        $(document).ready(function () {
            //
            // initialize at ready ;
            //
            $('#movie-overview').isotope({
                itemSelector: '.cover',
                columnWidth: function (containerWidth) {
                    return containerWidth / 12;
                },
                onLayout: function () {
                    $(window).trigger("scroll");
                }
            });
        });


        function trendingmovies(json) {
            if(json !== undefined ) {
                var newElements = "";
                $.each(json, function (key, value) {

                    newElements +=
                        '<div class="cover">' +
                        '<img src="../images/covers/' + value['name'] + '.jpg" data-original="' + value['name'] + '" width="138" height="203" style="width:138px; height:203px"/>' +
                        '</div>';
                });

                var $newElems = $(newElements);

                $('#movie-overview').append($newElems).imagesLoaded(function () {

                    $('#movie-overview').isotope('appended', $newElems);


                });
            }
        }
    </script>
</body>
</html>