<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Cloudburst</title>

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<link rel="stylesheet" href="css/style.css" />
	</head>


	<!-- JSON: [{'name':'ted','type':'movie'},{'name':'the-hunger-games','type':'movie'},{'name':'world-war-z','type':'serie'},{'name':'the-hunger-games-mockingjay-part-1','type':'movie'}]-->
	<body>
		<ul id="filters" class="clearfix">
			<li><a href="javascript:python.trendingmovies({'callback':trendingmoviesCallback})" id="trendingmovies" data-filter=".trending-movies" class="current">Trending movies</a></li>
			<li><a href="#" data-filter=".trending-series">Trending series</a></li>
			<li><input type="text" placeholder="Search" name="search" /></li>
		</ul>

		<div style="clear: both"></div>
		<div id="movie-container" class="movie-container"></div>

		<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.js"></script>
		<script type="text/javascript" src="js/imagesloaded.pkgd.js"></script>
		<script type="text/javascript" src="js/json2html.js"></script>
		<script type="text/javascript" src="js/jquery.json2html.js"></script>
		<script type="text/javascript">
			(function(window) {
				'use strict';

				$(function() {
					var $movie_container = $('#movie-container');

					/*$('#trendingmovies').click(function() {
						var items = '';
						items += createImageItem('ted');
						items += createImageItem('the-hunger-games');
						items += createImageItem('the-hunger-games-mockingjay-part-1');
						items += createImageItem('underworld-awakening');

						$movie_container.prepend($(items));
						$movie_container.imagesLoaded();
					});*/
				});
			})(window);

            function createImageItem(name) {
                var item = '<div class="cover trending-movies" data-symbol="'+ name +'">';
                item += '<img src="../images/covers/'+ name +'.jpg" alt="'+ name +'" width="138" height="203" style="width:138px;height:203px" />';
                item += '</div>';

                return item;
            }

            function trendingmoviesCallback(arguments) {
                var $movie_container = $('#movie-container');
                $movie_container.empty();

                var obj = jQuery.parseJSON(arguments);
                var items = '';
                $.each(obj, function( i, item ) {
                    items += createImageItem(item.name);
                });

                $movie_container.prepend($(items));
                $movie_container.imagesLoaded();
            }
		</script>
	</body>
</html>