<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>VLC Test Page</title>
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/jquery.timer.js"></script>

    <script>
        var fileID;

        function openFile(arg)  {
            var vlc = document.getElementById("vlc");

            vlc.playlist.items.clear();
            var options = new Array(":aspect-ratio=4:3", "--rtsp-tcp");
            fileID = vlc.playlist.add(arg, "fancy name", options);
        }

        function getPosition()  {
            return vlc.input.position;
        }

        function setTime(ms)    {
            vlc.input.time = ms;
        }

        function test() {
            window.testVal = "TEST"
        }

        var timer = $.timer(function() {
                alert('This message was sent by a timer.');
        });

        timer.set({ time : 100, autostart : true });
    </script>
</head>
<body>
<embed type="application/x-vlc-plugin"
       id="vlc"
       name="vlc"
       autoplay="no" loop="yes" width="720" height="540"/>

<br/>
<input type="button" name="Play" value="Play" onclick="vlc.playlist.play()"/>
<input type="button" name="Pause" value="Pause" onclick="vlc.playlist.togglePause()"/>
<input type="button" name="Stop" value="Stop" onclick="vlc.playlist.stop()"/>
<input type="button" name="Fullscreen" value="Fullscreen" onclick="vlc.video.toggleFullscreen()"/>
<input type="button" name="LoadAndPlay" value="Load and play" onclick="javascript:external.loadVideo(test)"/>

<p>timer has been executed <span id='counter' style='font-weight:500; font-size:20px; padding:0px 2px;'>0</span> times.</p>


</body>
</html>